.container {
  width: 1000px;
  margin: 0 auto;
}

.title {
  color: rgba(101,134,177,0.8);
  width: 550px;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}

textarea {
  /* width: 995px; */
  display: block;
  width: 955px;
  height: 200px;
  margin: 10px auto 10px;
  padding: 10px;
  font-size: 18px;
  color: #444444;
}

.keyboad {
  display: block;
  border: 3px solid #cd1414;
  padding: 5px;
  background: gray;
  border-radius: 10px;
}

.keyboad:after {
  content: "";
  display: block;
  clear: both;
}

.k-key {
  width: 50px;
  height: 50px;
  border-radius: 10px ;
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  float: left;
}

.k-key:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px ;
  border: 2px solid rgb(213, 17, 17);
  margin: 3px;
  padding: 3px;
  float: left;
  cursor: pointer;
}

.clearfix {
  display: block;
  width: 100%;
  clear: both;
}

.active {
  background: #1acd14;
}
